/* index.html */

.formbody
{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
background-color: #A1CECE;
color: #000000;
}
#label
{
    font-size: 50px;
    font-family: monospace;
}






















/* information.html */