/* index.html */
 .heading
 {
    text-align: center;
    text-shadow: 2px 3px 1px lightblue;
 }
/* form .html */

*
{
    box-sizing: border-box;
}
body{
    font-family: arial,sams-seridf;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.container
{
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1
{
    text-align: center;
    color: #333;
}
.form-group
{
    margin-bottom: 15px;
}
label
{
    display: block;
    margin-bottom: 5px;
}
input,textarea,select
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
input:focus,select:focus,textarea:focus
{
    border-color: #007bff;
    outline: none;
}
button
{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4085cf;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover
{
background-color: #223b54;
}
